.page-constructor-wrapper {
    position: relative;
    border: 1px solid lightgrey;
    padding: 5px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.page-constructor-wrapper input {
    display: block;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-constructor-wrapper .content {
    position: absolute;
    top: 10px;
    left: 205px;

    min-height: 62px;
    max-height: 62px;

    max-width: 300px;
    min-width: 300px;

    padding: 10px;
}